.loginbutton{
    width:150px;
    padding:15px 25px;
    border-radius:5px;
    color: white;
    background-color: red;
    align-items: center;
    font-family: bold;
  }
  #signInDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .content{
    width: 50px;
    height: 50px;
    border-radius: 45px;
    border-color: black;
    position: absolute;
    top:0;
    box-shadow: 10px;
    text-align: center;
    display: flex;
    margin: 0;
    justify-content: center;
  }